# macOS
.DS_Store

# VS Code
.vscode/
*.code-workspace

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ignore MPII raw data only
Datasets/MPII/Annotations/
Datasets/MPII/Images/

# Processed data
*.npz
*.npy
*.mat

# Model files
*.pt
*.pth
*.ckpt
checkpoints/
runs/
outputs/
Datasets/Penn_Action/
