# macOS
.DS_Store

# VS Code
.vscode/
*.code-workspace

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ignore MPII raw data only
Datasets/MPII/Annotations/
Datasets/MPII/Images/

# Processed data
*.npz
*.npy
*.mat

# Model files
*.pt
*.pth
*.ckpt
checkpoints/
runs/
outputs/
Datasets/Penn_Action/

# ============================================================
# NTU RGB+D raw data
# ============================================================

Datasets/NTU_RGBD/rgb_videos/
Datasets/NTU_RGBD/skeletons/

Datasets/NTU_RGBD/**/*.zip
Datasets/NTU_RGBD/**/*.crdownload
Datasets/NTU_RGBD/**/*.download
Datasets/NTU_RGBD/**/*.part


# ============================================================
# Logs and generated media
# ============================================================

logs/
server_outputs/

*.mp4
*.avi
*.mov
*.mkv
*.gif
*.log
